.u-ico {
	&_batsu {
		cursor: pointer;
		width: 40px;
		height: 40px;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: 0;
		left: 0;
		transition: all 0.5s;

		@include mq(max, md) {
			width: 25px;
			height: 25px;
			top:-2px;
		}

		.is-active & {
			display: block;
			opacity: 1;
			visibility: visible;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1px;
			height: 30px;
			background: $color-dark-gray;
			border-radius: 2.5px;
			transform: translate(-50%, -50%) rotate(45deg);

			@include mq(max, md) {
				height: 25px;
				width: 2px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1px;
			height: 30px;
			background: #333;
			border-radius: 2.5px;
			transform: translate(-50%, -50%) rotate(-45deg);

			@include mq(max, md) {
				height: 25px;
				width: 2px;
			}
		}
	}

	&__arr-round {
		display: block;
		background: $color-dark-gray ;
		width: 1.125rem;
		height: 0.125rem;
		position: absolute;
		top: 50%;
		left: calc(50% - 0.06rem);
		margin: auto;
		transform: translate(-50%, -50%);

		@include mq(max, sm) {
			width: 0.75rem;
			;
		}



		&:before {
			position: absolute;
			content: "";
			top: -0.25rem;
			right: 0.0625rem;
			width: 0.625rem;
			height: 0.625rem;
			border-top: 0.125rem solid $color-dark-gray;
			border-right: 0.125rem solid $color-dark-gray;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);

			@include mq(max, sm) {
				width: 0.5rem;
				height: 0.5rem;
				top: -0.16rem;
			}
		}


	}
}